.Cart-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  background: #f5f5f5;
  border-radius: 0px 0px 5px 5px;
  margin: 0;
  list-style: none;
}

.Cart-header {
  border-radius: 5px 5px 0px 0px;
  background-color: #27ae60;
}

.Cart-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.Cart-list-valorTotal{

  display: flex;
  width: 80%;
  justify-content:space-between;

}

hr{

  width: 80%;

}

.Cart-list-btnRemove{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  background: #E0E0E0;
  border: 2px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #828282;
  width: 80%;

}