.produtoCart-list-li {
  display: flex;
  width: 100%;
  max-width: 400px;
}

.produtoCart-list-card {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  max-width: 400px;
}

.produtoCart-img {
  max-width: 70px;
  height: 70px;
  margin-right: 10px;
  width: 30%;
}

.produtoCart-list-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
  margin-right: 10px;
}

.produtoCart-list-category {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #828282;
}

.produtoCart-list-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #bdbdbd;
  height: 15px;
  margin-right: 10px;
}
